.toplist_nav {
    overflow: hidden;
    position: relative;
    float: left;
    width: 178px;
    height: 400px;
    border: 1px solid hsla(0,0%,60%,.2);
}
.toplist_nav__list {
    margin-bottom: 20px;
}
.toplist_nav__tit {
    line-height: 60px;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid #ebebeb;
    margin: 0 17px 10px;
}
.toplist_nav__link {
    font-size: 15px;
    display: block;
    line-height: 22px;
    padding: 8px 17px;
}
dd {
    display: block;
    margin-inline-start: 40px;
}
dt {
    display: block;
    text-align: center;
}
dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.MyMain{	
    overflow: hidden;
    position: relative;
    display: block;
    width: 1283px;
    margin: 30px 250px;
}
.songList{
    overflow: hidden; 
    position: relative;
    width: 1100px;
    height:auto;
    margin-left: 230px;
    display: block;
}
.songList .top{
    overflow: hidden; 
    position: relative;
    width: 800px;
    height: 50px;
    margin-top: 20px;
    display: block;
}
.songList .mybutton{
    overflow: hidden; 
    position: relative;
    width: 800px;
    height: 40px;
    
    display: block;
}
.songList .List{
   
    overflow: hidden; 
    position: relative;
    width: 1000px;
    height: auto;
    margin-top: -10px;
    display: block;   
}
.songList .top .text{
    width: 150px;
    display: inline-block;
    text-align: center;
    font-size: 25px;
}
.songList .top .time{
    width: 100px;
    display: inline-block;
    text-align: center;
    font-size: 17px;
}
.myButtonGreen,
.myButtonWrite{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    border-radius: 3px;
}
.myButtonGreen{
    width: 115px;
    margin: 0 10px;
    color: #fff;
    background-color: #31c27c;
}
.myButtonGreen:hover{
    color: #fff;
    background-color: #2caf6f;
}
.myButtonWrite{
    width: 86px;
    height: 38px;
    border: 1px solid #c9c9c9;
    background-color: #fff;
    color: #333;
}
.myButtonWrite:hover{
    color: #333;
    background-color: #ededed;
}
.mYMv{
    display: inline-block;
    width: 33px;
    height: 16px;
    background-position: -40px -280px;
    vertical-align: middle;
    margin-right: 6px;
    font-size: 12px;
    font-family: "Microsoft Yahei";
    color:#2caf6f;
    border:2px #2caf6f solid;
    border-radius:4px; 
    padding-top: 3px;
    text-align: center;
}
.pure-table{
    font-size: 17px;
}