
.slider-wrapper li {
    float: left;
    width: 200px;
    height: 200px;
  }
.slider-wrapper img {
    overflow: hidden;
    width: 200px;
    height: 200px;
}
.slider-wrapper .img {
    overflow: hidden;
    width: 200px;
    height: 200px;
}
.myLikeSingerText{
    color: #fff;
    margin: 0 32px;
    font-size: 40px;
    font-family: "等线";
}
.AllSinger{
    margin: 80px 150px 150px 150px;
    height: auto;
}